:root {
  --dark-grey: #333333e6;
  --light-grey: #dadada;
  --yellow: hsl(59, 73%, 50%);
  --fill: rgb(11, 106, 90);
  --bg: rgb(247, 247, 247);
}
::-webkit-scrollbar {
  display: none;
}
* {
  padding: 0;
  margin: 0;
  font-family: "M PLUS Rounded 1c", sans-serif;
  color: var(--dark-grey);
  position: relative;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
}
nav.main {
  position: fixed;
  height: 50px;
  width: 100vw;
  padding: 14px 6vw; /* the yellow underline sit right below the white bg of nav */
  background-color: white;
  z-index: 11;
}
nav span {
  margin-right: 30px;
  font-size: 19px;
  line-height: 47px;
  cursor: pointer;
  border-bottom: 5px solid var(--yellow);
}
.uncheck {
  color: var(--light-grey);
  border-bottom: none;
}
/* .burger {
  position: fixed;
  padding: 1.2vw 1.55vw;
  font-size: 2vw;
  z-index: 11;
  cursor: pointer;
}
.burger p {
  padding: 0 0.7vw 0.2vw;
  transition: all 0.2s;
}
.burger p.show {
  background-color: var(--yellow);
} */
footer {
  font-size: 13px;
  font-weight: 500;
  padding: 1em;
  text-align: center;
  color: var(--dark-grey);
}
.bg-color {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--bg);
}
svg {
  position: relative;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: var(--dark-grey);
  fill: none;
}
svg#head #head {
  stroke-width: 2;
  fillï¼šwhite;
}
svg#head {
  position: absolute;
  left: 0;
  top:0;
}
svg#title {
  stroke-width: 4;
}
g#i g {
  stroke-width: 0;
}
svg#title text {
  font-size: 29px;
  font-weight: 300;
  fill: var(--dark-grey);
}
svg#title {
  position: fixed;
}
#i {
  transform-origin: 50%;
  stroke-width: 4;
}
.triangleParts {
  stroke-width: 4;
}
svg#changingShape {
  width: 190vw;
  top: -16vw;
  left: -8vw;
}
text {
  stroke-width: 2;
}
.rolling {
  stroke-width: 2.5;
}
/* polygon:not(.shadow):not(.triangle) {
  cursor: pointer;
} */
.shadow {
  stroke: none;
  fill: var(--fill);
  opacity: 0.1;
  /* fill: rgba(255, 255, 255, 0.7); */
  pointer-events: none;
}
path {
stroke-width: 2;
stroke: #333333;
fill: #333333;
}
#changingShape line {
  stroke-width: 1;
  stroke-dasharray: 2 3;
  stroke-dashoffset: 2;
  pointer-events: none;
  opacity: 0.8;
}
.group {
  pointer-events: none;
  font-size: 28px;
  display: none;
  font-weight: 100;
}
foreignObject.other span.project{
  cursor: pointer;
}
foreignObject nav {
  width: 119px; /* not dynamic here, need to change */
  text-align: right;
  font-size: 10px;
  height: 0;
  overflow: hidden;
}
foreignObject p {
  line-height: 24px;
  font-weight: 500;
  pointer-events: none;
  opacity: 0.8;
}
.chart {
  padding: 0 8vw 4vw;
  display: grid;
  grid-template-columns: 50vw 30vw;
  grid-gap: 4vw;
}
#about {
  padding: 4vw 8vw 8vw;
  display: grid;
  grid-template-columns: 15vw 31vw 30vw;
  grid-gap: 4vw;
}
#about.hide{
  display: none;
}
img.portrait {
  width: 100%;
}
.status {
  padding: 7vw 4vw;
  background-color: white;
  width: 100%;
}

.hide {
  display: none;
}
.status img {
  width: 80%;
  left: 10%;
}
.project-group ul {
  list-style: none;
}
.project-group li {
  font-size: 10px;
  line-height: 24px;
}
span.project:not(.grey-out) {
  margin-right: 10px;
  cursor: pointer;
}
.other span.project {
  margin-left: 10px;
  margin-right: 0;
}
.grey-out {
  opacity: 0.3;
}
#single-project {
  position: fixed;
  width: 0;
  height: 0;
  background-color:white; 
  opacity: .95;
  clip-path: polygon(50% 0%, 85% 15%, 100% 50%, 85% 85%, 50% 100%, 15% 85%, 0% 50%, 15% 15%);  
  font-size: 16px;
}
#single-project section, #single-project h3 {
  margin-bottom: 13px;
}
p.close {
  text-align: center;
  cursor: pointer;
  font-size: 1.5em;
}
.desc {
  width: 43%;
  top: 5%;
  text-align: right;
}
.desc h3 {
  width: 70%;
  left: 30%;
}
.notes ul {
  list-style: none;
}
.notes li, h4 {
  margin-bottom: .5em;
}
#single-project .img{
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
}
.img img {
  height: 70%;
  width: auto;
  top: 17%;
}
.cover { /* exported gif always have a colored border line, need to cover it up*/
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 15%;
  background-color: white;
}
.type p, .notes li {
  font-size: .9em;
  margin-bottom: 1em;
}
.tech ul {
  list-style: none;
}
.tech ul li{
  display: inline;
}
.url {
  margin: 2em 0;
}
.report {
  line-height: 7px;
}
#single-project svg {
  position: absolute;
  stroke-width: .35;
  stroke: var(--light-grey);
  width: 92%;
  left: 4%;
  top: 4%;
}
#single-project-shadow {
  position: fixed;
  clip-path: polygon(50% 0%, 85% 15%, 100% 50%, 85% 85%, 50% 100%, 15% 85%, 0% 50%, 15% 15%);  
  /* clip-path: polygon(50% 0%, 50% 100%, 15% 85%, 0% 50%, 15% 15%);   */
  background-color: var(--dark-grey);
  opacity: .1;
}
.opacity {
  opacity: .8;
}
.contact {
  padding: 2vw;
}
.bold {
  font-weight: 700;
}

@media screen and (max-width:768px) {
  nav.main {
    display: grid;
    grid-template-columns: 1fr;
    height: 65px;
    overflow: scroll;
  }
  nav span {
    margin-right: 0;
  }
  .chart, #about {
    padding: 0 6vw;
    grid-template-columns: 1fr;
    grid-gap: 4vw;
    margin: 50px 0;
  }
  #about>div:nth-of-type(1){
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px;
    grid-gap: 4vw;
  }
  .portrait {
    height: 100%;
    width: auto;
  }
}