:root {
  --dark-grey: rgba(51, 51, 51, 0.9);
  --fill: hsl(180, 100%, 25%);
}
* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  color: var(--dark-grey);
  position: relative;
}
svg {
  width: 190vw;
  position: relative;
  top: -14vw;
  left: -8.3vw;
  stroke-width: 3;
  stroke-linejoin: round;
  stroke: var(--dark-grey);
  fill: none;
}
polygon {
  cursor: pointer;
}
line {
  stroke-dasharray: 3 3;
  pointer-events: none;
}
.group {
  font-size: 23px;
  display: none;
}
foreignObject nav {
  width: 10vw;
  text-align: right;
  font-size: 12px;
  font-weight: 700;
  height: 0;
  overflow: hidden;
}
foreignObject p {
  line-height: 24px;
}
h1 {
  position: fixed;
  top: 85vh;
  right: 7vw;
  width: 9vw;
  white-space: nowrap;
}
span {
  font-size: 1.2vw;
}
span:first-of-type {
  font-size: 2vw;
  display: inline-block;
  padding: 0 7px;
  height: 1.5em;
  border-bottom: 11px solid var(--fill);
}
.hide {
  display: none;
}
